<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <main class="container py-5">

        <section class='card card-body'>
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae, natus distinctio perferendis
                ea
                porro quisquam amet alias illo ullam nesciunt, soluta aut beatae vero recusandae culpa, neque animi quos
                quaerat
                magnam laboriosam nobis? Facere illo iste quos placeat, optio asperiores officiis alias incidunt
                corporis
                nihil
                sunt aut voluptatem culpa, delectus magnam maiores! Labore ipsa dicta cum quis nemo dignissimos quae
                impedit
                magni quasi laborum omnis nihil voluptatum minima blanditiis necessitatibus quas autem veritatis quod,
                aspernatur similique voluptas nesciunt in hic! Ea enim doloribus consequatur fugiat, qui dolores quidem
                ex
                eveniet quaerat nostrum adipisci nisi assumenda aliquam sit distinctio suscipit.</p>
            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
    </main>
    {% endblock %}
</body>

</html>